pybbi==0.3.0
pandas==1.1.4
pyramid==1.10.5
pyramid-jinja2==2.8
requests==2.23.0
simpleBDB==1.1.15
berkeleydb
waitress
dozer
uwsgi
numpy
scipy
scikit-learn
matplotlib
git+git://github.com/deltarod/PeakError
git+git://github.com/deltarod/PeakSegDisk
git+git://github.com/deltarod/LOPART
git+git://github.com/bbalasub1/glmnet_python.git
